<div class="top-container">
  <h1>Let's stock!</h1>

  <p class="random-comment">
    ðŸ’¬ <%= @random_comment || "ã‚³ãƒ¡ãƒ³ãƒˆãŒã‚ã‚Šã¾ã›ã‚“" %>
  </p>

  <div class="policy-links">
    <%= link_to "åˆ©ç”¨è¦ç´„", terms_path %> |
    <%= link_to "ãƒ—ãƒ©ã‚¤ãƒã‚·ãƒ¼ãƒãƒªã‚·ãƒ¼", privacy_policy_path %>
  </div>

  <div class="image-container">
    <%= image_tag 'bousaiset.png', class: 'back-image' %>
    <%= image_tag 'top.jpg', class: 'front-image' %>
  </div>
</div>
