<div class="top-container">
  <h1>Let's stock!</h1>
  <div class="inner_container-top">
    <nav>
      <ul class="nav navbar-right-top">
        <li><%= link_to "新規登録", signup_path, class: 'btn btn-primary-top custom-btn', aria: { label: '新規登録ページに移動します' } %></li>
        <li><%= link_to "ログイン", login_path, class: 'btn btn-secondary-top custom-btn', aria: { label: 'ログインページに移動します' } %></li>
      </ul>
    </nav>
  </div>
  
  <div class="policy-links">
    <%= link_to "利用規約", terms_path %> |
    <%= link_to "プライバシーポリシー", privacy_policy_path %>
  </div>

  <div class="image-container">
    <%= image_tag 'bousaiset.png' %>
    <%= image_tag 'top.jpg' %>
  </div>
</div>
