<h1 class="page-title1">現在の備え一覧</h1>
<div class="stocks_container">
  <ul>
    <li><%= link_to "防災アイテムを探してみよう！", items_search_path %></li>
  </ul>
</div>

<% if @emergency_kits.present? && @emergency_kits.first.share_token.present? %>
  <div class="share-link">
    <p>
      共有リンク:  
      <%= link_to shared_emergency_kit_url(@emergency_kits.first.share_token), target: "_blank" do %>
        <%= shared_emergency_kit_url(@emergency_kits.first.share_token) %>
      <% end %>
    </p>
  </div>
<% end %>

<!-- 並列表示用のラッパー -->
<div class="stocks-wrapper">

  <!-- 防災バッグ一覧（左） -->
  <div class="stocks-container">
    <h2>防災バッグ一覧</h2>
    <% if @emergency_kits.present? %>
      <ul class="kit-list">
        <% @emergency_kits.each do |kit| %>
            <li class="stock-item">
            <div class="stock-fields">
              <div class="stock-field"><strong><%= kit.owner.name %>の防災バッグ</strong></div>
              <div class="stock-field">保管場所: <%= kit.storage %></div>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>防災バッグはありません。</p>
    <% end %>
  </div>

  <!-- 備蓄一覧（右） -->
  <div class="stocks-container">
    <h2>備蓄一覧</h2>
    <% if @stocks.present? %>
      <ul class="stock-list">
        <% @stocks.each do |stock| %>
          <li>
            <ul class="stock-item-list">
              <% stock.stock_items.each do |item| %>
                <li class="stock-item">
                <div class="stock-fields">
                  <div class="stock-field"><strong><%= item.name %></strong></div>
                  <div class="stock-field">ストック数: <%= item.quantity %></div>
                  <div class="stock-field">保管場所: <%= item.storage %></div>
                  <div class="stock-field">期限: <%= item.reminders.first&.expiration_date || '未設定' %></div>
                  <div class="stock-field">カテゴリー: <%= item.category.name %></div>
                </div>
              </li>              
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>備蓄はありません。</p>
    <% end %>
  </div>

</div>
