<h1 class="page-title1">防災バッグ一覧</h1>

<% if @emergency_kits.present? %>
  <div class="inner_container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <% @emergency_kits.each do |emergency_kit| %>
          <li>
            <div style="text-align: left;">
              <strong><%= emergency_kit.owner.name %>の防災バッグ</strong>
              <br>保管場所: <%= emergency_kit.storage %>
              <br>確認サイクル: 
              <%= 
                if emergency_kit.reminders.any? && emergency_kit.reminders.first.interval_months.present?
                  "#{emergency_kit.reminders.first.interval_months}か月"
                else
                  '未設定'
                end
              %>
            </div>
            <!-- ボタンの配置を変更 -->
            <div class="button-container2">
              <%= link_to "開く", stocks_emergency_kit_path(emergency_kit), class: 'btn btn-secondary' %>
              <%= link_to '削除', stocks_emergency_kit_path(emergency_kit), method: :delete, data: { confirm: '本当に削除しますか？', turbo_method: :delete }, class: 'btn btn-danger' %>
            </div>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>

  <div class="inner_container">
    <nav>
      <div class="button-container">
        <%= link_to "新しい防災バッグを追加", new_stocks_emergency_kit_path, class: 'btn btn-primary custom-btn' %>
      </div>
    </nav>
  </div>
  

  <div class="image-container">
    <%= image_tag 'top.jpg' %>
  </div> 

<% else %>
  
  <p class="noitem">防災バッグは一つもありません...</p>

  <div class="noitem-wrapper">
    <div class="noitem-button">
      <%= link_to "新しい防災バッグを追加", new_stocks_emergency_kit_path, class: 'btn btn-noitem custom-btn' %>
    </div>
    <div class="noitem-image">
      <%= image_tag 'nostock.png', width: 300, height: 300 %>
    </div>
  </div>
<% end %>
