<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light bg-light'>
    <%= link_to '/', class: 'navbar-brand' do %>
      <%= image_tag 'logo.png', class: 'logo', width: '200', height: '85', style: 'display: block; margin-left: 0px; margin-top: 25px;' %>
    <% end %>

    <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "現在の備え一覧", all_stocks_emergency_kits_path %></li>
          <li><%= link_to "備蓄", stocks_stocks_path %></li>
          <li><%= link_to "防災バッグ", stocks_emergency_kits_path %></li>
          <li><%= link_to "掲示板", boards_path %></li>
          
          <% if current_user %>
            <li><%= link_to "マイページ", user_path(current_user) %></li>
          <% else %>
            <li><%= link_to "ログイン", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </nav>
</header>
