<h1 class="page-title">防災バッグ掲示板</h1>

<%= form_with url: boards_path, method: :get, class: "search-form", data: { controller: "autocomplete" } do %>
  <div class="form-group">
    <%= label_tag :search, "検索" %>
    <%= text_field_tag :search, params[:search], class: "form-control search-field", placeholder: "フリーワードで検索", data: { autocomplete_target: "input", action: "input->autocomplete#search" } %>

    <!-- オートコンプリートの結果を表示 -->
    <ul class="autocomplete-results" data-autocomplete-target="results" data-action="click->autocomplete#select"></ul>
  </div>

  <div class="form-group">
    <%= label_tag :age_group, "年代" %>
    <%= select_tag :age_group, options_for_select([["未選択", nil], ["10歳未満", 0], ["10代", 1], ["20代", 2], ["30代", 3], ["40代", 4], ["50代", 5], ["60代", 6], ["70代", 7], ["80代", 8], ["90代", 9], ["100歳以上", 100]], selected: params[:age_group]), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :gender, "性別" %>
    <%= select_tag :gender, options_for_select([["未選択", nil], ["男性", "male"], ["女性", "female"], ["その他", "other"]], selected: params[:gender]), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit_tag "検索", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "防災バッグを投稿", new_board_path, class: "btn btn-success" %>

<% @boards.each do |board| %>
  <div>
    <h2><%= board.title %></h2>
    <p><%= board.description %></p>
    <%= link_to "詳細を見る", board_path(board), class: "btn btn-primary" %>
  </div>
  <hr>
<% end %>
