<h1 class="page-title">防災バッグを投稿</h1>

<%= form_with model: @board, url: boards_path, method: :post do |f| %>
  <div class="form-group">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "説明" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :emergency_kit_ids, "投稿する防災バッグを選択" %>
    <%= f.collection_select :emergency_kit_ids, 
          @emergency_kits, 
          :id, 
          lambda { |kit| "#{kit.owner.name}の防災バッグ（#{kit.storage}）" }, 
          { prompt: "選択してください" }, 
          { multiple: true, class: "form-control" } %>
  </div>

  <%= f.submit "投稿する", class: "btn btn-success" %>
<% end %>
