<h1 class="page-title"><%= @board.title %></h1>

<p><%= @board.description %></p>

<% if @board.emergency_kits.present? %>
  <ul>
    <% @board.emergency_kits.each do |kit| %>
      <li>
        <strong>年齢：</strong><%= kit.owner&.age %><br>
        <strong>性別：</strong><%= kit.owner&.gender.present? ? t("enums.emergency_kit_owner.gender.#{kit.owner.gender}") : "未設定" %><br>
        <strong>保管場所：</strong><%= kit.storage %><br>
        
        <% if kit.kit_items.present? %>
          <h3>バッグ内のアイテム</h3>
          <ul>
            <% kit.kit_items.each do |kit_item| %>
              <li>
              <strong>アイテム名:</strong> <%= kit_item.name %> |
              <strong>数量:</strong> <%= kit_item.quantity %>|
              <strong>カテゴリー:</strong> <%= kit_item.category.present? ? kit_item.category.name : "未分類" %>|
              <strong>期限:</strong> <%= kit_item.reminders.first&.expiration_date || '未設定' %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>バッグの中は空っぽです...</p>
        <% end %>

        <% if kit.reminders.present? %>
          <h3>確認サイクル</h3>
          <ul>
            <% kit.reminders.each do |reminder| %>
              <li>確認サイクル: <%= reminder.interval_months %>ヶ月</li>
            <% end %>
          </ul>
        <% else %>
          <p>確認サイクルが設定されていません。</p>
        <% end %>
      </li>
      <hr>
    <% end %>
  </ul>
<% else %>
  <p>この掲示板には防災バッグが登録されていません。</p>
<% end %>

<% if current_user == @board.user %>
  <%= link_to "防災バッグ一覧へ", stocks_emergency_kits_path(@emergency_kits), class: "btn btn-warning" %>
  <%= link_to '投稿を削除', board_path(@board), method: :delete, data: { confirm: '本当に削除しますか？', turbo_method: :delete }, class: 'btn btn-danger' %>
<% end %>
