<%= form_with(model: kit_item, local: true) do |form| %>
    <% if kit_item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(kit_item.errors.count, "error") %> prohibited this item from being saved:</h2>
        <ul>
          <% item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <div class="field">
      <%= form.label :category_id, "Category" %>
      <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "Select a category" %>
    </div>
  
    <div class="field">
      <%= form.submit %>
    </div>
  <% end %>
  