<h1>アイテムの編集</h1>

<%= form_with(model: @kit_item, url: stocks_emergency_kit_kit_item_path(@kit_item.emergency_kit, @kit_item), method: :put, local: true) do |form| %>
  <% if @kit_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kit_item.errors.count, "error") %> prohibited this kit_item from being saved:</h2>
      <ul>
        <% @kit_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :アイテム名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <label for="kit_item_category_id">カテゴリ</label>
    <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "カテゴリを選択" } %>
  </div>


  <div class="field">
    <%= form.label :ストック数 %>
    <%= form.number_field :quantity, min: 1, step: 1 %>
  </div>

  <div>
    <%= form.fields_for :reminders do |reminder_fields| %>
      <%= reminder_fields.label :期限 %>
      <%= reminder_fields.date_field :expiration_date, value: @kit_item.reminders.first&.expiration_date %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "更新する", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'キャンセル', stocks_emergency_kit_path(@kit_item.emergency_kit), class: 'btn btn-secondary' %>
