<!DOCTYPE html>
<html>
  <head>
    <title>ストックサポーター</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <% if user_signed_in? %>
    <%= render 'shared/header_signed_in' %> <!-- ログイン後のヘッダー -->
  <% else %>
    <%= render 'shared/header_signed_out' %> <!-- ログイン前のヘッダー -->
  <% end %>
  <%= yield %>
  </body>
</html>
